<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/w3.css">
</head>

<body>
  <h1>동현이의 2021 소소한 작품</h1>
  <h3>코로나 백신 맵 웹페이지</h3>
  <a href="http://tv9310.cafe24.com/coronavaccine">페이지로 이동</a>
  <h3>일차함수와 이차함수 구하기 페이지</h3>
  <a href="http://tv9310.cafe24.com">페이지로 이동</a>
  <h2>돌아가기</h2>
  <a href="/">돌아가기</a>
</body>
</html>