<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
  </head>
  <link rel="stylesheet" href="../static/css/w3.css">
  <body>
  <div class="w3-container w3-center">
    <h2>{{ subject }}</h2>
    <a href="/about">어바웃 페이지 이동</a> 
    <a href="/show1">show1 이동</a> 
    <a href="/show2">show2 이동</a> 
    <a href="/kma">기상청 날씨1</a> 
    <a href="/kma1">기상청 날씨2</a>
  </div>
  <p>기본적인 프레임워크 Flask 사용법과 크롤링을 배웠습니다</p>
  <p>2021-12-23</p>
  </body>
</html>
